
$primaryColor: #F44336;
$secondaryColor: #333333;
$accentColor: #AAA;
//Text and background colors

$shadowColor: #111111;

// font
$normalFontSize: 16px;
$largeFont: ($normalFontSize * 1.2);
$smallFontSize: ($normalFontSize * 0.8);

body {
    background-color: papayawhip;
  text-align: center;
}

h1 {
  color: $primaryColor;
  text-align: center;
  font-size: 5em;
}

button {
    padding: 0.5em;
    // margin: 5em;
    outline: none;
    border: 0;
    background-color: $accentColor;
    color: $secondaryColor;
    cursor: pointer;
    font-size: $normalFontSize;
    display: inline-block;

    &:hover {
      box-shadow: 0 0 3px $shadowColor;
    }

    &:active {
      box-shadow: 1px 1px 3px $shadowColor;
      background-color: darken($accentColor, 10);
    }

    &:disabled, &[disabled]{
        border: 1px solid $secondaryColor;
        background-color: lighten($secondaryColor, 10%);
        color: $primaryColor;

        &:hover {
            box-shadow: 0;
        }
    }
}

div.component {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid $accentColor;
  color: $secondaryColor;
  margin: 1em;

  :nth-child(1) {
    border: 1px solid $accentColor;
    color: $primaryColor;
    margin: 1em;
    padding: 1em;
  }
}

input.rInput {
  margin: 0.5em 0;
  padding: 0.1em;
  font-size: 1em;
}

button.rButton {
  font-size: 1.2em;
  padding: 0.1em;
  border: 0;
  background-color: $accentColor;
  text-transform: uppercase;
  color: $secondaryColor !important;
  outline: none;
  cursor: pointer;

  &:active {
    background-color: $secondaryColor;
  }
}

.hipsterText {
  color: $primaryColor;
  text-align: left;
}
